/* add css styles here (optional) */

img {
  animation: rotation 10s infinite linear;
  margin-top: 10%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
